body {
    background-color: #fafafa;
}

h1 {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 4em;
    margin-bottom: 0px;
    margin-top: 7px;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 1.8em;
    margin-top: 0px;
    color: #424242;
}

.hidden {
    display: none;
}

p {
    font-size: .95em;
}

a:hover, a:focus {
    text-decoration: none;
}

#journalist {
    font-family: 'News Cycle', sans-serif;
}

#coder {
    font-family: 'Source Code Pro', monospace;
}

#creator {
    font-family: 'Nothing You Could Do', cursive;
}


#navigation {
    font-size: 2.5em;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 13px;
}

#navigation a{
    color: #000;
}


#navigation a:hover{
    text-decoration: none;
    font-style: italic;
}

#navigation a:focus {
    text-decoration: none;
}


#line-left {
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(black));
}

.line {
    margin: 10px 5px;
    height: 1px;
    background: black;
    width: 20%;
    display: inline-block;
}

#line-right {
    background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(white));
}

#about-container {
    margin: 0px 30px;
}

.portfolio-img-box {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.portfolio-img {
    margin: 0px auto;
    display: block;
    width: 360px;
}

h3 {
    width: 360px;
    background-color: #587586;
    font-size: 1.1em;
    color: white;
    padding: 6px 0px 6px 17px;
    font-family: 'Rajdhani', sans-serif;
    margin: 0px auto 13px;
}

.portfolio-img-box:hover h3, .portfolio-img-box:focus h3{
    background-color: rgb(56, 92, 113);
}

.site-link {
    background-color: #68899c;
    border-radius: 10px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: 1.5em;
    padding: 6px 20px;
    border: solid 1px #697179;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}


a.site-link:hover, a.site-link:focus {
    text-decoration: none;
    background-color: #385c71;
    color: white;
}

.link-box {
    text-align:center;
    margin-bottom: 10px;
}

.live {
    margin-right: 10px;
}

.repo {
    margin-left: 10px;
}

.description {
    padding: 0px 10px;
}

.skills {
    padding: 0px 10px;
    font-size: 1em;
    margin: 14px 0px 8px;
    font-weight: 600;
}

@media (max-width: 992px) and (min-width:768px) {
    .portfolio-img {
        max-width: 330px;
    }
    h3 {
        width: 330px;
    }
}

@media (max-width: 803px) {
    .line {
        width:8%;
    }
    #navigation {
        font-size: 1.9em;
    }
}

@media (max-width: 768px) and (min-width:544px) {
    .portfolio-img {
        max-width: 270px;
    } 
    .site-link {
        font-size: 1.2em;
        padding: 6px 15px;
    }
    .live {
        margin-left: 5%;
    }
     h3 {
        width: 270px;
    }
}

@media (max-width: 450px) {
    h2 {
        font-size: 1.6em;
    }
    #navigation {
        font-size: 1.6em;
    }
}